/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

svg{
    /* align: sta; */
    background-color: antiquewhite;
    position: translate(50%);
}



/* .header{
    background-color: rgb(138, 3, 136);
    grid-column: 1/-1;
    grid-row: 1/1;
    text-align: center;
    color: white;
} */
/* .sidebar{
    background-color: rgb(255, 0, 0);
    grid-column: 1/1;
    grid-row: 2/-1;
    text-align: center;
    color: white;
} */
/* .buttons-area{
    background-color: rgb(4, 100, 7);
    grid-column: 2/-1;
    grid-row: 3/3;
    text-align: center;
    color: white;
} */
/* .graph-area{
    background-color: rgb(124, 124, 0);
    grid-column: 2/-1;
    grid-row: 2/2;
    text-align: center;
    color: white;
} */
/* .footer{
    background-color: rgb(1, 110, 112);
    grid-column: 2/-1;
    grid-row: 4/-1;
    text-align: center;
    color: white;
} */